---
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coders' OS Image</title>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <script src="javascript/jquery.min.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" async="" src="javascript/configuration.js"></script>
    <script type="text/javascript" async="" src="javascript/install.js"></script>
    <script type="text/javascript" async="" src="javascript/software-list.js"></script>
    <script type="text/javascript" async="" src="javascript/commands.js"></script>
    <script type="text/javascript" async="" src="javascript/build-servers.js"></script>
</head>
<body>
{% include header.html %}
<div class="container">
    {% for software_category in site.data.software %} {% if software_category.name == "hidden" %} {% continue %} {%
    endif %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12">
            <div class="row">
                <div class="col-xs-12"><h3 class="text-center">{{ software_category.name }}</h3></div>
            </div>
            <div class="row">
                <hr>
                <span class="col-xs-8 col-xs-offset-2 text-center">
                    {{ software_category.description }}
                </span>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        {% for software in software_category.software %}
        <div class="col-xs-6 col-md-4 col-lg-3">
            <div id="{{ software.id | escape}}">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="text-center">{{ software.name }}</div>
                    </div>
                    {% if software.description %}
                    <div class="panel-body">{{ software.description }}</div>
                    {% endif %}
                    <a class="installation_anchor" href="javascript:toggle_install({{ software | jsonify | escape }})">
                        <div class="panel-footer" id="install-{{ software.id | escape}}">
                            <div class="text-center will-be-installed">Add to installation</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    {% endfor %}
    <div class="installation">
        <form class="invisible" id="build-form" action="" method="post">
            <input type="hidden" name="specification" id="build-form-specification">
        </form>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <a href="javascript:install_everything()" class="btn btn-success btn-block">Install</a>
            </div>
        </div>
    </div>
</div>
<br>
{% include footer.html %}
<script src="javascript/index.js"></script>
</body>
</html>